
/* Reset some default styles for consistency across browsers */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
   /* background-image: url(Untitled\ design\ \(3\)\ copy.png); */
   background-color: #000000;

   background-position:center ;
   background-size: cover;

}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo a {
    color: white;
    text-decoration: none;
    padding-left: 1em;
    
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.nav-links a:hover,
.nav-links a:active {
    color: #FF66C3;
}    

#about {
    /* padding: 50px;
    text-align: center; */
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Styling for the link that triggers the dropdown */
.dropdown a {
    padding: 10px;
    /* background-color: #3498db; */
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
}

/* Styling for the dropdown content */
.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Styling for each dropdown item */
.dropdown .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-bottom: ;
}

/* Highlight on hover for dropdown items */
.dropdown .dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown content when the link is hovered or focused */
.dropdown:hover .dropdown-content {
    display: block;
}

.photo {
   position: absolute;
   padding-left: 5em;
   padding-top: 2em;
}



h3 {
   
    color: #ffffff;
    margin-bottom: 20px;
}

p {
    /* font-size: 18px; */
    margin-bottom: 20px;
    line-height: 2em;
}

section {
    font-size: 18px;
    color: #ffdff8;
    padding-left: 20em;
    padding-right: 20em;
    margin-bottom: 2em;
    font-weight: 600;
    
    
    
}


.footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.connect {
    /* font-size: 14px; */
    margin-top: 20px;
    line-height: 1.6;
}
.whatsapp {
    padding-left: 1em;
}

.copyright {
    /* font-size: 14px; */
    margin-top: 20px;
    line-height: 1.6;
}

.fas {
    display: none;
}
.name {
    display: none;
}
/* -------------------css for small screen-------------- */
@media only screen and (max-width: 600px){

   
    body {
        font-size: 14px;
    }

    header {
        padding: .1px;
       
    }

    section {
        font-size: 15px;
        text-align: center;
        padding-left: 2em;
    }
    h1 {
        font-size: 2em;
       
        
    }
   .fas {
    display: block;
    padding: 1em;
     }


   .fas2 img {
   color: #f9f9f9;
    padding-right: 18em; 
   text-align: justify;
   padding-top: 1em;
   }
   .nav-links {
    
    background-color: #ffe6f5;
    font-size: 18px;
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100vh;
    z-index: 2;
  } 
  .nav-links a {
    color: #333;
    display: block;
    margin: 25px;
    margin-top: 2.5em;
}
  .home {
    margin-top: 10em;
  }

  .dropdown a {
    color: #333;
    display: block;
    margin: 10px;
    padding-top: 0;
    margin-top: 1.8em;
  }
  .nav-links .fas{
    position: absolute;
    top: .1px;
    left: .1px;
    cursor: pointer;
  }
.logo {
  display: none;
}

footer {
    background-color: #333;
    color: #fff;
    /* padding: 1px; */
    text-align: center;
    
    
    
}

.connect {
    
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1px;
  
}

.connect p {
    margin-right: 20px;
    padding-left: 6em;
    margin-top: 1em;
   
}




.copyright {
    margin-top: 1px;
   
    
}

.whatsapp {
   padding-top: .2em;
}

section {
   text-align: start;
    /* font-size: 18px; */
    color: #ffdff8;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 2em;
    font-weight: 600;
}

.resp {
    font-size: 16px;
}

.photo {
    position: relative;
    padding-left: 2em;

}

}

/* Add more styling for additional sections or elements as needed */

